@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #790000;
    --text-color: #fff;
    --main-color: #c92306;
}

html {
    font-size: 75%;
    overflow-x: hidden;
    background-color: var(--bg-color);
    background-repeat: no-repeat;

}

#topMessage {
    font-family: "Press Start 2P", system-ui;
    font-weight: 30px;
}

.title {
    color: var(--main-color);
    font-size: 3rem;
    font-weight: bold;
    /* Changed from 1000px to bold */
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    position: relative;
    /* Added for absolute positioning of cursor */
}

.title span::before {
    content: 'Word Search Game';
    color: var(--main-color);
    animation: flicker 1s infinite alternate;
    /* Only flicker animation */
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.gameVersion {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: var(--main-color);
    font-family: "Press Start 2P", system-ui;
}

#table-container {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    max-width: 800x; /* Adjust max-width as needed */
    margin-top: 20px;
}

.puzzleCell {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 13px;
    background-color: #ffffff;
    /* Default background color */
    border: 1px solid #cccccc;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
}

.puzzleCell:hover {
    border-color: #ff00f2;
}

.puzzleCell.selected {
    border-color: #ff00f2;
}

/* background color for the selected state */



.puzzleCell:active {
    /* background-color: #ff0000; */
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

.puzzleCell.clicked {
    /* background-color: #00ff6a; */
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

/*#table-container td {
    height: 20px;
    width: 20px;
    background-color: aquamarine;
    border: 0;
    outline: none;
    font: 1em sans-serif;
    color: brown;
} */

button::-moz-focus-inner {
    border: none;
    outline: none
}

#table-container .selected {
    /* color: red; */
    outline: none;

    &:focus {
        border: none;
    }
}

/* Wordbank*/

#wordbank {
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: #d3ddd1;
    border-radius: 5px;
    height: 500px;
    width: 300px;
    color: var(--main-color);
    font-family: "Press Start 2P", system-ui;
    top: 300px;
    right: 50px;
    position: fixed;
    max-height: 80vh;
    overflow-y: auto;
}


.player1 {
    background-color: var(--player1-color, #1eff00);
    /* Green */
}

.player2 {
    background-color: var(--player2-color, #ff0000);
    /* Red */
}

.player3 {
    background-color: var(--player3-color, #0000ff);
    /* Blue */
}

.player4 {
    background-color: var(--player4-color, #ffff00);
}


/* Lobby */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

/* Styles for the lobby */
.lobby {
    padding: 10px;
    background-color: var(--second-bg-color, #790000);
    border-radius: 5px;
    font-size: 16px;
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Press Start 2P", system-ui;

}

/* Styles for the WaitingPlayers section */
.waiting-players {
    background-color: #d3ddd1;
    padding: 10px;
    width: 500px;
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    width: 800px;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
}
#WaitingPlayers {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin-left: 5px;
    justify-content: center;
}

#playerContainer {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10px;
    padding: 20px;
}

#ready-btn {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
}

#ready-btn:hover {
    border-color: #007bff;
}

#ready-btn:active {
    border-color: #007bff;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

#start-btn {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
}

#start-btn:hover {
    border-color: #007bff;
}

#start-btn:active {
    border-color: #007bff;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

#input-data {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
}

#input-data:focus {
    border-color: #007bff;
}

::placeholder {
    color: #aaa;
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
}

#join-button {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
}

#join-button:hover {
    border-color: #007bff;
}

#join-button:active {
    border-color: #007bff;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

#error {
    /* error message, if no nickname */
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
}


/*chat*/
#chat {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: 20px auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: var(--second-bg-color);
    border-radius: 5px;
    z-index: 999;
    width: 50%;
    height: 50%;
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
}

#chatButton {
    position: absolute;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
    top: 150px;
    right: 10px;
}

#chatButton:hover {
    border-color: #007bff;
}

#chatButton:active {
    border-color: #007bff;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

#message-container {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
}


#chat h2 {
    padding: 10px;
    margin: 5px auto;
    font-family: "Press Start 2P", system-ui;

}

#chat-input {
    width: 70%;
    padding: 5px;
    margin-right: 5px;
    font-family: "Press Start 2P", system-ui;
}

#send-button {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
}
#send-button:hover {
    border-color: #007bff;
}

#send-button:active {
    border-color: #007bff;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

#leaderboardbutton {
    position: absolute;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    /* Remove the default focus outline */
    transition: border-color 0.3s ease;
    font-family: "Press Start 2P", system-ui;
    top: 90px;
    right: 10px;
}

#leaderboardbutton:hover {
    border-color: #007bff;
}

#leaderboard-container table {
    width: 100%;
    border-collapse: collapse;
}
#leaderboard-container h2 {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Press Start 2P", system-ui;
}

#leaderboard-container th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    background-color: #008000;
    font-family: "Press Start 2P", system-ui;
}

#leaderboard-container td {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #32CD32;
    font-family: "Press Start 2P", system-ui;
}

#leaderboard-container tr:nth-child(even) {
    background-color: #3CB371;
}

#leaderboard-container {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 600px;
    overflow: auto;
}

#timer {
    font-size: 50px;
    font-weight: bold; 
    color: var(--main-color);
    font-family: "Press Start 2P", system-ui;
}

#GameOver {
     display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75); 
    color: white; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Press Start 2P", system-ui;   
}